/* main page styling */
body {
    color: white;
    font-size: 18px;
    text-align: center;
    background-image: url("https://tourismus.nuernberg.de/fileadmin/bilder/sehen/sehenswuerdigkeiten/versteckte_orte/lochgefaengnisse/lochgefaengnis_01.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: sans-serif;
}

h1 {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li:last-child {
    border-right:1px solid #bbb;
    border-left:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: black;
}

/* button styling */
button {
    background-color: red; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: gray; 
}


/* link styling */
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}


/* listing styling */
#listing {
    color: white;
    background: rgb(0, 0, 0, 0.85);
    text-align: center;
    letter-spacing: 0.5px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 30px;
    border: solid 1px red;
    border-radius: 35px;
}

#listing-name {
    font-weight: bold;
}

#last-viewed-listing-name {
    color: white;
    background: rgb(0, 0, 0, 0.85);
    text-align: center;
    letter-spacing: 0.5px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 30px;
    border: solid 1px red;
    border-radius: 35px;
}

/* form styling */
#form {
    color: white;
    background: rgb(0, 0, 0, 0.85);
    text-align: center;
    letter-spacing: 0.5px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 5px;
    border: solid 1px red;
    border-radius: 35px;
}

input[type=text] {
    border: 3px solid darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 40%;
    max-width: 420px;
    border-radius: 10px;
}

textarea {
    border: 3px solid darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 40%;
    max-width: 420px;
    height: 300px;
    border-radius: 10px;
    resize: vertical;
    font-family: sans-serif;
}

input[type=number] {
    border: 3px solid darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 40%;
    max-width: 420px;
    border-radius: 10px;
}

input[type=password] {
    border: 3px solid darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 40%;
    max-width: 420px;
    border-radius: 10px;
}

input[type=submit] {
    background-color: red; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: gray;
    font-weight: bold;
}

.login-error{
    border: none;
    background-color: red;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 25%;
    max-width: 420px;
    border-radius: 3px;
    margin: auto;
    font-size: 14px;
}