body {
    color:#148773;
    font-size: 18px;
    text-align: center;
    background-color: #d1e2e2;
    font-family: sans-serif;
}
button {
    background-color: #02bb99de; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#listing {
    color: white;
    background: #02bb99de;
    text-align: center;
    letter-spacing: 0.5px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 5px;
    border: solid 1px #7ceaec;
    border-radius: 35px;
}

#listing-name {
    font-weight: bold;
}