<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Listing</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <a href="/"><h1>MakersBnB</h1></a>
        <div id="form">
            <form action="/listings" method="POST">
                <p>
                    <label for="listing_name">Listing name:</label>
                    <br>
                    <input type="text" name="listing_name" id="listing_name">
                </p>
                <p>
                    <label for="price">Price per night (£):</label>
                    <br>
                    <input type="number" name="price" id="price"  min="0.00">
                </p>
                <p>
                    <label for="bedrooms">Number of bedrooms:</label>
                    <br>
                    <input type="number" step="1" min="1" name="bedrooms" id="bedrooms">
                </p>
                <p>
                    <label for="description">Listing description:</label>
                    <br>
                    <textarea name="description" id="description"></textarea>
                </p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>