<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <ul>
            <li><a class="active" href="/logout">Logout</a></li>
            <li><a href="/add_listing">Add Listing</a></li>
            <li><a href="https://www.youtube.com/watch?v=xm3YgoEiEDc&t=14s">Feelin' Lucky?</a></li>
        </ul>

        <h1>MakersBnB</h1>
        <h2>Welcome, {{ current_username }}!</h2>
        {% if last_viewed_listing %}
        <div>
        <br><h3>You last viewed:</h3> 
        <p id="last-viewed-listing-name">
            <a href="/listings/{{last_viewed_listing.id}}" id="listing-name">
            {{last_viewed_listing.listing_name}}
            </a>
            <br>
            <br>Price per night: £{{last_viewed_listing.price}}
            <br>Number of bedrooms: {{last_viewed_listing.bedrooms}}
            <br>
            <br>{{last_viewed_listing.description}}
        </p>
        </div>
        {% endif %}
        <br>
        <div>
        <h3>All listings:</h3>
        {% for listing in listings %}
            <div id="listing">
            <p id="listing-name">
            <a href="/listings/{{listing.id}}">
            {{listing.listing_name}}
            </a>
            </p>
            Price per night: £{{listing.price}}
            <br>Number of bedrooms: {{listing.bedrooms}}
            <br>
            <br>{{listing.description}}
            </div>
            
        {% endfor %}
        </div>
    </body>
</html>