<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
       
        <a href="/add_listing">
            <button type="button">Add Listing</button>
        </a>
        <a href="/logout">
            <button type="button">Logout</button>
        </a>

        <a href="/"><h1>MakersBnB</h1></a>
        <h2>Welcome {{ current_username }}!</h2>
        {% if last_viewed_listing %}
        <div>
        <br/>You last viewed: 
        <p id="last-viewed-listing-name">
            <a href="/listings/{{last_viewed_listing.id}}">
            {{last_viewed_listing.listing_name}}
            </a>
            </p>
            Price per night: £{{last_viewed_listing.price}}
            <br>Number of bedrooms: {{last_viewed_listing.bedrooms}}
            <br>{{last_viewed_listing.description}}
            
        </div>
        {% endif %}
        <div>
        {% for listing in listings %}
            <div id="listing">
            <p id="listing-name">
            <a href="/listings/{{listing.id}}">
            {{listing.listing_name}}
            </a>
            </p>
            Price per night: £{{listing.price}}
            <br>Number of bedrooms: {{listing.bedrooms}}
            <br>{{listing.description}}
            </div>
            
        {% endfor %}
        </div>
    </body>
</html>