<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>MakersBnB</h1>
        <div id="listing">
            <p id="listing-name">Roseview Gardens</p>
                Price per night: £100
                <br>Bedrooms: 3
                <br>Floral cottage within walking distance of York city centre
            
        </div>
        <!-- {% for listing in listings %}
            <div>
            <br>{{listing.listing_name}}
            <br>{{listing.price}}
            <br>{{listing.bedrooms}}
            <br>{{listing.description}}
            </div>
            
        {% endfor %} -->
    </body>
</html>