<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <a href="/login">
            <button type="button">Login</button>
        </a>
        <a href="/signup">
            <button type="button">Signup</button>
        </a>

        <a href="/"><h1>MakersBnB</h1></a>
        {% for listing in listings %}
            <div id="listing">
            <p id="listing-name">{{listing.listing_name}}</p>
            Price per night: £{{listing.price}}
            <br>Number of bedrooms: {{listing.bedrooms}}
            <br>
            <br>{{listing.description}}
            </div>
            
        {% endfor %}
    </body>
</html>