<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <ul>
            <li><a class="active" href="/login">Login</a></li>
            <li><a class="active" href="/signup">Signup</a></li>
        </ul>

        <h1>MakersBnB</h1>
        {% for listing in listings %}
            <div id="listing">
            <p id="listing-name">{{listing.listing_name}}</p>
            Price per night: £{{listing.price}}
            <br>Number of bedrooms: {{listing.bedrooms}}
            <br>
            <br>{{listing.description}}
            </div>
            
        {% endfor %}
    </body>
</html>