<!DOCTYPE html>
<html>
    <head>
        <title>{{listing.listing_name}}</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <ul>
            <li><a class="active" href="/logout">Logout</a></li>
            <li><a href="/add_listing">Add Listing</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>

        <h1>MakersBnB</h1>
            <div id="listing">
            <p id="listing-name">{{listing.listing_name}}</p>
            Price per night: £{{listing.price}}
            <br>Number of bedrooms: {{listing.bedrooms}}
            <br>{{listing.description}}
            <br>
            <br>This listing was posted by {{user.username}}.
            <br>If you would like to book this property, please contact {{user.email}}
            </div>
    </body>
</html>