<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
    </head>
    <body>
        <a href="/"><h1>MakersBnB</h1></a>
        <div>
            <form action="/login" method="POST">
                <p>
                    <label for="email">Email address:</label>
                    <br>
                    <input type="text" name="email" id="email">
                </p>
                <p>
                    <label for="password">Password:</label>
                    <br>
                    <input type="text" name="password" id="password">
                </p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>